---
import { getCollection } from 'astro:content'
import { Image } from 'astro:assets'
import { generate_link } from '~/utils/links.ts'

const sections = await getCollection('sections')
const categories = await getCollection('section_category')
---
<div class="sections">
  {categories.map(category => {
    return (
            <div class="category">
                <div class="title">
                    <h2>{category.data.title}</h2>
                </div>
                <div class="description">
                    <p>{category.data.description}</p>
                </div>
                <div class="items">
                  {sections.filter((section) => {
                    if (section.data.categories) {
                      return section.data.categories.some(
                        cat => cat.id === category.id)
                    } else {
                      return false
                    }
                  }).map((section) => {
                    return (
                            <a href={generate_link(Astro, section, 'sections')}
                               class="item" title={section.data.title}>
                              {section.data.image &&
                                      <Image width={400}
                                             src={section.data.image.url}
                                             alt={section.data.image.alt}/>
                              }
                              {section.data.title}
                            </a>
                    )
                  })}
                </div>
            </div>
    )
  })}
</div>

<style lang="scss">
  @use 'sass:list';
  @use 'sass:meta';
  @use 'sass:map';

  @use '~/styles/app.scss' as app;

  $sections: (
    /***/
    _subclasses : (
      '.category' : (
        /***/
        _subclasses : (
          '.title' : (
            border-radius: .5rem,
            margin: 0 0 1rem 0,
          ),
          '.description' : (
            display: block,
            margin: 0,
          ),
          '.image' : (
          ),
          '.items' : (
            margin: 0 0 1rem 0,
            display : grid,
            gap: 1rem,
            grid-template-columns : repeat(2, minmax(0, 1fr)),
            /***/
            _responsive : (
              md : (
                grid-template-columns : repeat(3, minmax(0, 1fr)),
              ),
              lg : (
                grid-template-columns : repeat(4, minmax(0, 1fr)),
              ),
            ),
          )
        )
      ),
    )
  );

  @include app.generate-component(
      $sections,
      'sections',
      app.$config,
      app.$theme
  );
</style>