---
import {getCollection} from 'astro:content';
import {Image} from 'astro:assets';
import {generate_link} from '~/utils/links.ts';

const sections = await getCollection('sections')
const categories = await getCollection('section_category');
---
<div class="section_categories">
    {categories.map(category => {
        return (
                <div class="category">
                    <div class="title">
                        <h2>{category.data.title}</h2>
                    </div>
                    <div class="description">
                        <p>{category.data.description}</p>
                    </div>
                    {
                        category.data?.image?.url &&
                            <Image class="image" src={category.data.image.url} width={250}
                                   alt={category.data.image.alt}/>
                    }
                </div>
        )
    })}
</div>

<style lang="scss">
  @use "sass:list";
  @use "sass:meta";
  @use "sass:map";

  @use "~/styles/app.scss" as app;

  $section-categories: (
    margin: 0 0 1rem 0,
    display : grid,
    gap: 1rem,
    grid-template-columns : repeat(2, minmax(0, 1fr)),
    /***/
    _responsive : (
      md : (
        grid-template-columns : repeat(3, minmax(0, 1fr)),
      ),
      lg : (
        grid-template-columns : repeat(4, minmax(0, 1fr)),
      ),
    ),
    /***/
    _subclasses : (
      '.category' : (
        /***/
        _subclasses : (
          '.title' : (
            border-radius: .5rem,
            margin: 0 0 1rem 0,
          ),
          '.description' : (
            display: block,
            margin: 0,
          ),
          '.image' : (
          )
        )
      ),
    )
  );

  @include app.generate-component(
      $section-categories,
      'section_categories',
      app.$config,
      app.$theme,
      (add_variable_prefix: false)
  );
</style>