---
import Index from '../layouts/index.astro'
import {Raw, Snippet, CodeWrapper} from '../components/snippet'
import Link from '~/components/link.astro'
import {generate_rel_link} from "~/utils/links";

//https://api.github.com/repos/nulllogic/scssleon/branches/master

const response = await fetch(
    'https://api.github.com/repos/nulllogic/scssleon/branches/master',
)
const data = await response.json()
const commit_date =
    typeof data.message === 'undefined'
        ? new Date(data.commit.commit.author.date).toLocaleDateString('en-US', {
            month: 'long',
            day: 'numeric',
            year: 'numeric',
        })
        : new Date()
---
<Index>
    <main>

        <section class="welcome">
            <div class="top_bg_glow"/>
            <div class="container xxl">
                <h1 class="title">
                    <span class="first">SCSS</span>
                    <span class="lines">
                        <span/>
                        <span/>
                        <span/>
                        <span/>
                    </span>
                    <span class="second">superpowers</span>
                </h1>

                <h2 class="subtitle">
                    Ship higher-quality software faster. <br/>Be the hero of
                    your engineering teams.
                </h2>

                <div class="grid">
                    <div>
                        <Snippet inline={true} multi_line={false}>
                            <Fragment slot={'code'}>
                                <CodeWrapper lang={'sh'}>
                                    <Raw inline={true}>
                                        npm i @nulllogic/scssleon@latest
                                    </Raw>
                                </CodeWrapper>
                            </Fragment>
                        </Snippet>
                    </div>
                    <div>
                        <a href={generate_rel_link(Astro,
                            './docs/1.0/en/getting-started/introduction')}
                           class="btn"
                           style="height:100%;border-radius: 0.425rem 0.425rem;">🚀
                            Get
                            started</a>
                    </div>
                </div>

                <div class="version">
                    Currently
                    <Link class="link"
                          href="https://www.npmjs.com/package/@nulllogic/scssleon"
                          aria-label="SCSSLeon repository"
                          title="SCSSLeon repository">v1.0.4
                    </Link>
                </div>

                <div class="commit">
                    <span class="">Latest Commit on GitHub: {commit_date}</span>
                </div>
            </div>
        </section>

        <!--
                <section
                        style="background: radial-gradient(circle at -48% 130%, rgba(208, 242, 36, 0.667) 24%, rgb(5, 74, 73) 45%);">
                    Good color
                </section>


                <section class="customize">
                    <div class="container xxl">

                        <h2>Build software faster, together.</h2>
                        <p>The most complete developer experience.</p>

                        ---
                        <h2>Crafted for the most productive teams.</h2>
                        <p>Precision. Elegance. Performance.</p>


                        Start coding.
                        No setup required.

                        <h2 class="title">Customize everything with SCSS</h2>
                        <p>SCSSLeon utilizes Sass for a modular and customizable
                            architecture. Import only the components you need,
                            enable global options like gradients and shadows, and write
                            your own CSS with our variables, maps, functions,
                            and mixins.</p>

                        <div class="grid">
                            <div class="column">
                                <h3>Include all of SCSSLeon’s parts</h3>
                                <p>Import one stylesheet and you're off to the races
                                    with every feature of our CSS.</p>
                                <Snippet preview={true}>
                                    <Fragment slot={'html'}>
                                        ```html
                                        ## Include all of SCSSLeon
                                        ```
                                    </Fragment>
                                </Snippet>
                            </div>
                            <div class="column">
                                <h3>Include what you need</h3>
                                <Snippet>
                                    // Variable overrides first
                                </Snippet>
                            </div>
                        </div>
                    </div>
                </section>

                <section>
                    <h2>easy to learn</h2>
                </section>

                <section>
                    <h2>easy to customize</h2>
                </section>

                <section>
                    <h2>No JavaScript required</h2>
                </section>


                <div class="features">
                    <div class="container xxl">
                        <h2 class="title">Why SCSSLeon ?</h2>
                        <p>SCSSLeon understands the full frontend development journey in
                            ways few other tools do.
                            Make any deployment simple, wherever you develop
                            software.</p>
                        <div class="grid">
                            <div class="first">
                                <div class="card">
                                    123
                                </div>
                            </div>
                            <div class="second">
                                <div class="card">
                                    123
                                </div>
                            </div>
                            <div class="third">
                                <div class="card">
                                    123
                                </div>
                            </div>
                            <div class="fourth">
                                <div class="card">
                                    123
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                Transform your developer experience
                Drive developer adoption and accelerate product growth with SCSSLeon.

                <section class="get_started">
                    <div class="container xxl">
                        <div style="margin: 0 auto; display: inline-block;">
                            <h3 class="title">Ready for more productive
                                development?</h3>
                            <p>Try SCSSLeon for a few sessions and start building your
                                product today</p>
                            <div class="grid">
                                <div>
                                    Ready. Code. Ship.
                                </div>
                                <div>
                                    <a href="#" class="btn">Read the docs</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section> -->

        Ready to launch your fund?
        Run your fund confidently. Streamline your setup, automate operations,
        access transparent reporting, and gain full-service support for any fund
        size or stage.


    </main>
</Index>

<style lang="scss">

  @use 'sass:list';
  @use 'sass:meta';
  @use 'sass:string';
  @use 'sass:map';

  @use '~/styles/app.scss' as app;


  $welcome-title-lines: (
    display: block,
    justify-content: center,
    width: 100%,
    text-align: center,
    _subclasses : (
      'span:nth-child(1)' : (
        filter: blur(4px),
        background-image: var(--gradient-line1),
        height: 2px,
        display: block,
        width: 100%,
        _colors : (
          light : (
            gradient-line1 : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(168, 162, 28, 0.52), rgba(0, 0, 0, 0)),
          ),
          dark : (
            gradient-line1 : linear-gradient(to right, rgba(0, 0, 0, 0), rgb(27, 138, 27), rgba(0, 0, 0, 0)),
          )
        )
      ),
      'span:nth-child(2)' : (
        background-image: var(--gradient-line2),

        height: 1px,
        display: block,
        width: 100%,
        margin-top: -2px,
        _colors : (
          light : (
            gradient-line2 : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(131, 126, 28, 0.52), rgba(0, 0, 0, 0)),
          ),
          dark : (
            gradient-line2 : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(30, 129, 23, 0.45), rgba(0, 0, 0, 0)),
          )
        )
      ),
      'span:nth-child(3)' : (
        background-image: var(--gradient-line3),

        filter: blur(4px),
        height: 5px,
        display: block,
        width: 100%,
        margin-top: -1px,
        max-width: 200px,
        margin: 0 auto,
        _colors : (
          light : (
            gradient-line3 : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(128, 122, 18, 0.52), rgba(0, 0, 0, 0)),
          ),
          dark : (
            gradient-line3 : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(35, 145, 24, 0.4), rgba(0, 0, 0, 0)),
          )
        )
      ),
      'span:nth-child(4)' : (
        background-image: var(--gradient-line4),

        filter: blur(4px),
        height: 1px,
        display: block,
        width: 100%,
        margin-top: -5px,
        max-width: 160px,
        _colors : (
          light : (
            gradient-line3 : linear-gradient(to right, rgba(0, 0, 0, 0), rgba(198, 188, 15, 0.52), rgba(0, 0, 0, 0)),
          ),
          dark : (
            gradient-line3 : linear-gradient(to right, rgba(0, 0, 0, 0), rgb(28, 188, 42), rgba(0, 0, 0, 0)),
          )
        )
      ),
    )
  );

  $welcome-section: (
    --padding: 3rem,
    padding-inline: var(global(--padding-inline)),
    background: var(--background),
    padding-block: var(--padding),
    text-align: center,
    position: relative,
    z-index: 1,
    _colors: (
      light : (
        background: string.unquote('radial-gradient(at 53% 78%, rgba(255, 255, 0, 0.3) 0px, transparent 50%), radial-gradient(at 71% 91%, rgba(51, 255, 0, 0.3) 0px, transparent 50%), radial-gradient(at 31% 91%, rgba(255, 128, 0, 0.17) 0px, transparent 50%)'),
      ),
      dark : (
        background: rgba(5, 17, 4, 1) radial-gradient(at 0 0, rgba(16, 53, 13, 0.4) 35%, #00000000 70%),
      )
    ),
    _subclasses : (
      '.title' : (
        font-size: 1rem,
        margin: 0 auto 15px auto,
        text-align: center,
        display: inline-flex,
        align-items: center,
        flex-direction: column,
        _responsive : (
          md : (
            font-size: 4rem,
          )
        ),
        _subclasses : (
          '.first' : (
            display: inline-block,
            height: auto,
            font-size: 8.6rem,
            background-clip: text,
            background-image: var(--title-gradient),
            color: transparent,
            position: relative,
            z-index: 1,
            _colors: (
              light: (
                title-gradient: radial-gradient(89.470001% 51.040001% at 44.27% 50%, rgb(1, 105, 8), rgb(28, 111, 26) 52.73%, rgb(0, 33, 11)),
              ),
              dark: (
                title-gradient: radial-gradient(89.470001% 51.040001% at 44.27% 50%, rgb(226, 227, 233) 0px, rgb(212, 214, 222) 52.73%, rgb(61, 63, 76) 100%),
              )
            ),
          ),
          '.second' : (
            display: inline-block,
            // hsl(47deg 100% 53%)
            background-image: var(--subtitle-gradient),
            background-clip: text,
            color: transparent,
            -webkit-text-fill-color: transparent,
            /*text-transform: uppercase,*/
            /*margin-top: -40px,*/
            _colors : (
              light: (
                subtitle-gradient : linear-gradient(to right in oklab, rgb(214, 158, 0) 10%, rgb(75, 167, 97) 50%, rgb(40, 130, 251) 100%),
                // linear-gradient(to right, rgb(61, 76, 244) 0%, rgb(255, 40, 98) 100%);
                // linear-gradient(to right, rgb(192, 98, 97), rgb(190, 164, 72), rgb(8, 148, 178))
                // radial-gradient(circle at left, #f2623c 0%, #f12993 30%, #6e3e94 60%, #05afef 90%),
              ),
              dark : (
                subtitle-gradient : linear-gradient(-135deg, color(display-p3 .6196078431 .4784313725 1/1) 0%, color(display-p3 .9960784314 .5450980392 .7333333333/1) 33.33%, color(display-p3 1 .7411764706 .4784313725/1) 66.67%, color(display-p3 .9725490196 .9176470588 .7647058824/1) 100%),
              )
            )
          ),
          '.lines' : $welcome-title-lines,
        )
      ),
      '.subtitle' : (
        margin: 0 0 20px 0,
        font-size: 2rem,
      ),
      '.grid' : (
        gap:15px,
        display: flex,
        flex-direction: column,
        max-width: 400px,
        width:100%,
        margin: 0 auto 1rem auto,
        align-items: center,
        _responsive: (
          md: (
            flex-direction: row,
          ),
        ),
        _subclasses : (
          '& > :nth-child(2)' : (
            padding: 3px 0,
            width: 100%,
            max-width: 302px,
            _responsive : (
              md : (
                width: auto,
              )
            ),
            _subclasses : (
              '& > .btn' : (
                /*padding-inline: 1rem,*/
                width: 100%,
                padding-block: 0.75rem,
                justify-content: center,
                _responsive : (
                  md : (
                    width: auto,
                    justify-content: inherit,
                    /*padding: inherit,*/
                  )
                )
              )
            )
          )
        )
      ),
      '.version' : (
        margin: 0 0 0.5rem 0,
        _subclasses : (
          '.link' : (
            text-decoration: underline,
            /*text-decoration-color : green,*/
            text-underline-offset: 3px,
            _subclasses : (
              '&:hover' : (
                text-decoration: none,
              )
            )
          )
        )
      ),
      '.commit' : (
        margin: 0 0 1rem 0,
        font-size: 0.825rem,
        color: var(--color),
        _colors : (
          light: (
            color: #8e8e8e,
          ),
          dark: (
            color: #717171,
          )
        )
      ),
      '.top_bg_glow' : (
        position: absolute,
        top:0,
        left:0,
        width: 100%,
        height: 100%,
        background: var(--top-glow),
        pointer-events: none,
        _colors : (
          light: (
            top-glow: radial-gradient(20% 80% at 50% -20%, rgba(223, 213, 9, 0.52), rgba(255, 255, 255, 0))
          ),
          dark : (
            top-glow: radial-gradient(20% 80% at 50% -20%, rgba(94, 170, 146, 0.3), rgba(255, 255, 255, 0))
          )
        )
      )
    )
  );

  @include app.generate-component(
      $welcome-section,
      'welcome',
      app.$config,
      app.$theme
  );

  $customize-section: (
    box-shadow: string.unquote('0 0 24px rgba(34, 42, 53, 0.06), 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(34, 42, 53, 0.04), 0 0 4px rgba(34, 42, 53, 0.08), 0 16px 68px rgba(47, 48, 55, 0.05), 0 1px 0 rgba(255, 255, 255, 0.1) inset'),
    background: var(--background),
    _colors: (
      dark: (
        background: rgba(5, 17, 4, 1)
      )
    ),
    _subclasses : (
      '.title' : (
        font-size: 3.25rem,
      ),
      '.grid' : (
        display: grid,
        grid-template-columns: 1fr 1fr,
        grid-gap: 1.5rem
      )
    )
  );

  @include app.generate-component(
      $customize-section,
      'customize',
      app.$config,
      app.$theme
  );

  $card: app.get-theme(app.$theme, 'components.card');

  $card: map.deep-merge($card, (
    border: var(--border),
    background: var(--background),
    box-shadow: var(--box-shadow),
    _colors: (
      dark : (
        border: 1px solid rgba(74, 58, 118, .5),
        background: string.unquote("linear-gradient(165deg, rgb(29, 30, 37) -5%, rgb(22, 23, 29) 25%)"),
        box-shadow: 0 0 10px rgba(0, 0, 0, .3)
      )
    )
  ));

  $features-section: (
    --padding: 35px 15px,
    background: var(--background),
    padding: var(--padding),
    _colors: (
      dark: (
        background: rgba(5, 17, 4, 1)
      )
    ),
    responsive: (
      md: (
        --padding: 35px 5px,
      ),
      lg: (
        --padding: 35px 5px,
      ),
    ),
    _subclasses : (
      '.grid' : (
        display: grid,
        width: 100%,
        grid-template-columns: repeat(12, minmax(0, 1fr)),
        grid-auto-rows: 5rem,
        grid-gap: 1.25rem,
        position: relative,
        _subclasses : (
          '.first' : (
            grid-row: auto/span 5,
            grid-column: auto/span 7,
            grid-auto-flow: row,
            _subclasses : (
              '.card' : $card
            )
          ),
          '.second' : (
            grid-row: auto/span 5,
            grid-column: auto/span 5,
            _subclasses : (
              '.card' : $card
            )
          ),
          '.third' : (
            grid-row: auto/span 5,
            grid-column: auto/span 5,
            _subclasses : (
              '.card' : $card
            )
          ),
          '.fourth' : (
            grid-row: auto/span 5,
            grid-column: auto/span 7,
            _subclasses : (
              '.card' : $card
            )
          )
        )
      )
    )
  );

  @include app.generate-component(
      $features-section,
      'features',
      app.$config,
      app.$theme
  );

  .sr-only {
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    overflow: hidden;
  }

  $get_started: (
    background: var(--background),
    padding: 3rem,
    text-align: center,
    _colors: (
      light: (
        background: string.unquote('linear-gradient(rgba(1, 142, 245, 0.15), rgba(247, 247, 247, 0.5))'),
      ),
      dark: (
        background: rgba(5, 17, 4, 1)
      )
    ),
    _subclasses : (
      '.title' : (
        font-size: clamp(1.6018rem, 1.5141rem + 0.349vw, 1.802rem),
      ),
      '.grid' : (
        display: grid,
        grid-template-columns: 1fr 1fr,
        grid-gap: 1.5rem
      )
    )
  );

  @include app.generate-component(
      $get_started,
      'get_started',
      app.$config,
      app.$theme
  );
</style>